:root {
    --primary-color: #07d600bb;
    --hover-color: #003605;
    --background-color: #000;
    --text-color: #fff;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --hover-shadow-color: rgba(0, 0, 0, 0.3);
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: var(--text-color);
}

body {
    background: linear-gradient(270deg, #000, #33c940, #000);
    background-size: 600% 600%;
    animation: gradientAnimation 15s ease infinite;
    transition: background-color 0.3s;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

.header {
    background: linear-gradient(to bottom, #064900, var(--background-color));
    text-align: initial;
    padding: 20px 0;
}

.main-title {
    font-size: 36px;
    margin-top: 20px;
}

/* Agrega tus estilos restantes aquí */

.columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}

.column {
    background-size: contain;
    background-position: center;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px var(--shadow-color);
    transition: transform 0.2s, box-shadow 0.2s;
}

.column:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px var(--hover-shadow-color);
}

@media (max-width: 768px) {
    .options, .dropdown {
        flex-direction: column;
    }

    .columns {
        grid-template-columns: 1fr;
    }
}

.button {
    background-color: var(--primary-color);
    transition: background-color 0.3s;
    padding: 15px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background-color: var(--hover-color);
}
