/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #fff; /* Texto en blanco */
    background-color: #000; /* Fondo negro */
}

/* Contenedor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Encabezado */
.header {
    background: linear-gradient(to bottom, #222, #000); /* Degradado oscuro */
    padding: 20px 0;
    text-align: center;
    color: #fff;
}

.header .main-title {
    font-size: 36px;
    margin-top: 20px;
}

.header .main-nav {
    margin-top: 20px;
}
.header .main-nav .options {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    color: #800000;
}
.header .main-nav .options li {
    display: flex;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #a70808;
    transition: color 0.3s;
    padding: 0;
    display: flex;
    justify-content: center;
}

.header .main-nav .options li a:hover {
    color: #800000;
}
.header .main-nav .options li a {
    text-decoration: none;
    color: #ff0000;
    transition: color 0.3s;
}
/* Estilo para las columnas */
.columns {
    display: flex;
    justify-content: space-around;
}

.column {
    flex: 1;
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: #333; /* Fondo oscuro */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.column:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.column-title {
    font-size: 20px;
    color: #800000;
    margin-bottom: 15px;
}
.column-text {
    font-size: 16px;
    margin-bottom: 15px;
}
.button {
    display: inline-block;
    background-color: #800000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.2s;
}
.button:hover {
    background-color: #A52A2A;
}
/* Estilo para el formulario de inicio de sesión */
.login-container {
    background-image: url('la-cocina.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}


.login-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.login-container form {
    margin: 20px 0;
}

.login-container label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px; /* Tamaño de fuente más grande */
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px; /* Tamaño de fuente más grande */
}

.login-container input[type="submit"] {
    background-color: #800000; /* Color de botón */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.login-container input[type="submit"]:hover {
    background-color: #A52A2A;
}
