/* Estilo para el fondo de la página */
body {
    background-color: #000;
    color: #FFF;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Estilo para el contenedor principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilo para los encabezados */
h1, h2 {
    font-size: 28px;
    color: #800000;
    text-align: center;
    margin-bottom: 20px; /* Espacio inferior uniforme */
}

/* Estilo para los párrafos */
p {
    font-size: 18px;
    text-align: center; /* Centrar el texto */
    margin-bottom: 20px; /* Espacio inferior uniforme */
}

/* Estilo para las columnas */
.columns {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1;
    text-align: left;
    margin: 10px;
    background-color: #000; /* Fondo negro */
    border-radius: 5px;
    padding: 20px;
    color: #fff; /* Texto en blanco para un mejor contraste */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra suave en las columnas */
}

/* Estilo para los botones */
.button {
    display: block;
    background-color: #800000;
    color: #FFF;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 auto; /* Añadido para centrar horizontalmente */
    margin-top: 10px;
    text-align: center; /* Centrar el texto horizontalmente */
    line-height: 1.5; /* Añadir espacio vertical alrededor del texto para centrarlo verticalmente */
}

/* Estilo para los botones al pasar el mouse */
.button:hover {
    background-color: #A52A2A;
}

/* Estilo para la imagen */
img {
    max-width: 100%;
    height: auto;
}

/* Estilo para la barra de navegación */
nav ul {
    list-style: none;
    padding: 0;
    display: flex; /* Alineación de elementos en la barra */
    justify-content: center; /* Centrar los elementos en la barra */
}

nav li {
    margin: 0 20px; /* Espaciado entre elementos */
}

/* Estilo para los enlaces de navegación */
nav a {
    color: #800000; /* Color de enlace de navegación */
    transition: color 0.3s; /* Transición de color al pasar el mouse */
}

nav a:hover {
    color: #A52A2A; /* Cambio de color al pasar el mouse */
}

/* Estilo para el video de fondo */
.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Estilo para el contenido sobre el video */
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFF; /* Color del texto en el contenido */
}

/* Estilos adicionales según tus preferencias */
