/* Estilo para el fondo de la página */
body {
    background-color: #000;
    color: #FFF;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Estilo para el contenedor principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilo para los encabezados */
h1 {
    font-size: 28px;
    color: #800000;
}

h2 {
    font-size: 24px;
    color: #800000;
}

/* Estilo para los párrafos */
p {
    font-size: 18px;
}

/* Estilo para las columnas */
.columns {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1;
    text-align: left;
    margin: 10px;
}

/* Estilo para los botones */
.button {
    display: inline-block;
    background-color: #800000;
    color: #FFF;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}

/* Estilo para los botones al pasar el mouse */
.button:hover {
    background-color: #A52A2A;
}

/* Estilo para la imagen */
img {
    max-width: 100%;
    height: auto;
}

/* Estilo para la barra de navegación */
nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

/* Estilo para los enlaces de navegación
