:root {
    --primary-color: #800000;
    --hover-color: #A52A2A;
    --background-color: #000;
    --text-color: #fff;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --hover-shadow-color: rgba(0, 0, 0, 0.3);
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

.container {
    max-width: 540px;
    margin: auto;
    padding: 20px;
}

.header {
    background: linear-gradient(to bottom, #222, var(--background-color));
    text-align: center;
    padding: 20px 0;
}

.main-title {
    font-size: 36px;
    margin-top: 20px;
}

.main-nav, .dropdown {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.options li, .dropdown li {
    margin: 0 15px;
}

.options a, .dropdown a {
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding: 10px 20px;
    transition: color 0.3s, background-color 0.3s;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.options a:hover, .dropdown a:hover {
    color: var(--hover-color);
    background-color: var(--shadow-color);
}

.button {
    background-color: var(--primary-color);
    transition: background-color 0.3s;
}

.button:hover {
    background-color: var(--hover-color);
}

.columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
}

.column {
    background-size: cover;
    background-position: center;    
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px var(--shadow-color);
    transition: transform 0.2s, box-shadow 0.2s;
}

.column:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px var(--hover-shadow-color);
}

@media (max-width: 768px) {
    .options, .dropdown {
        flex-direction: column;
    }

    .columns {
        grid-template-columns: 1fr;
    }
}

.menu-toggle {
    cursor: pointer;
    font-size: 30px;
    margin: 10px;
    border: 2px solid var(--text-color);
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;
}

.menu-toggle:hover, .menu-toggle.active {
    background-color: var(--text-color);
    color: var(--primary-color);
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #333;
    border-radius: 5px;
    box-shadow: 0 4px 6px var(--shadow-color);
    z-index: 1;
}

.menu-toggle.active + .dropdown {
    display: block;
}

.dropdown li a {
    border-bottom: 1px solid #555;
}

.dropdown li:last-child a {
    border-bottom: none;
}

.dropdown li:hover {
    background-color: var(--primary-color);
}
