/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
    margin: 0;
}

/* Contenedor principal */
main {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

/* Secciones (Patrocinadores, Creadores, Agradecimiento) */
.sponsors, .creators, .thank-you {
    margin: 40px 0;
}

/* Títulos de secciones */
h2 {
    font-size: 28px;
    margin: 0 0 20px;
}

/* Contenedor para elementos (Patrocinadores, Creadores, Agradecimiento) */
.sponsor, .creator, .thank-you {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

/* Imágenes de patrocinadores y creadores */
.sponsor img, .creator img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Títulos de patrocinadores y creadores */
h3 {
    font-size: 24px;
    margin: 10px 0;
}

/* Párrafos */
p {
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
}

/* Pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilo para el enlace "Inicio" en la barra de navegación */
.menu-link {
    background-color: #007BFF; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 10px 20px; /* Espacio alrededor del texto */
    border-radius: 5px; /* Bordes redondeados */
    text-decoration: none; /* Quita el subrayado del enlace */
    font-weight: bold; /* Texto en negrita */
    cursor: pointer; /* Cambia el cursor al pasar por encima */

    /* Transición suave para los cambios de estilo */
    transition: background-color 0.3s, color 0.3s, border-radius 0.3s;
}

/* Estilo al pasar el cursor por encima */
.menu-link:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el cursor por encima */
    border-radius: 8px; /* Bordes más redondeados al pasar el cursor por encima */
}

/* Estilo del botón con imagen */
.menu-link.button {
    background: url('la-cocina.jpg') no-repeat center;
    background-size: contain; /* Ajusta esto según el tamaño de tu imagen */
    width: 100px; /* Ancho deseado del botón */
    height: 100px; /* Alto deseado del botón */
    display: block; /* Convierte el enlace en un elemento de bloque */
    text-align: center; /* Alinea el contenido al centro */
    line-height: 100px; /* Centra verticalmente el contenido en el botón */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
}
