/* Asegúrate de importar Google Fonts y FontAwesome en tu HTML antes de este CSS */
:root {
    --primary-color: #c0392b; /* Un rojo más vibrante */
    --secondary-color: #ecf0f1; /* Un gris claro para el fondo */
    /* ... tus otras variables ... */
}

body, html {
    /* ... */
    background: var(--secondary-color); /* Fondo más claro */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container .logo {
    height: 50px; /* Ajusta esto según el tamaño de tu logotipo */
}

.menu-toggle {
    /* ... */
    background: none; /* Quitar fondo predeterminado */
    border: none; /* Quitar bordes predeterminados */
    font-size: 24px; /* Tamaño del icono del menú */
    color: var(--primary-color); /* Color del icono del menú */
}

/* Mejorando los estilos de navegación */
.main-nav .options a {
    /* ... */
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.main-nav .options a:hover {
    background-color: var(--primary-color); /* Fondo del botón al hacer hover */
    color: #fff; /* Texto blanco al hacer hover */
}

/* Estilos responsivos para móviles */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
    }

    .main-nav .options {
        /* Cambiar la disposición de los elementos para móviles */
        flex-direction: column;
        align-items: center;
    }
}
